extends layout

block content
	h1= title
	p Welcome Matej's RPiRobot
	button.big#topleft &nbsp;
	button.big#top Top
	button.big#topright &nbsp;
	br
	button.big#left Left
	button.big#stop Stop
	button.big#right Right
	br
	button.big#bottomleft &nbsp;
	button.big#bottom Bottom
	button.big#bottomright &nbsp;
	br
	br
	label L 1
	button#l1on On
	button#l1off Off
	br
	label L 2
	button#l2on On
	button#l2off Off
	br
	label R 1
	button#r1on On
	button#r1off Off
	br
	label R 2
	button#r2on On
	button#r2off Off